<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>QRME</title>
	</head>
	<body>
		<div>
			<fieldset>
				<h1>Welcome to QRME</h1>
				<form action="/" method="post">
					<input type="submit" value="Sign Up" formaction="/SignUp">
					<input type="submit" value="Login" formaction="/Login">
				</form>

			</fieldset>
		</div>
	</body>
</html>